
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --color-primary: #00ADFD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

/* BACKGROUND SECTION 1 */
.hero {
    background-color: var(--color-primary);
    height: 100vh;
    max-height: 1080px;
}

/* HEADER */
.header {
    max-width: 1440px;
    padding: 0 1em;
    height: 89px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

/*LOGO*/
.header__logo {
    flex: 1;    
}

/*NAVBAR*/
.header__nav {
    flex: 3;
    display: flex;
    justify-content: center;
}

.header__list {
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.list__link {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.line {
    width: 1px;
    background-color: white;
    position: relative;
    left: 8em;
}

/* BOTONES REGISTER Y LOGIN */
.header__btn {
    width: 25%;
    display: flex;
    justify-content: space-around;
}

.header__btn button{
    width: 10em;
    height: 2.6em;
    border-radius: 30px;
    font-weight: 700;
    border: none;
    outline: none;
    cursor: pointer;
}

.header__button1 {
    background-color: #00ADFD ;
    color: #ffffff;
}

.header__button2 {
    background-color: #ffffff;
    color: #00ADFD;
}

/*  SECCION 1  */
.section1 {
    max-width: 1440px;
    margin: 0 auto;
    height: calc(100% - 89px);
    display: flex;
    /* background-image: url("./img/background.png"); */
   /* background-repeat: no-repeat;
    background-size: contain; */ 
    justify-content: space-around;
    align-items: center;
}

.columna1{
    min-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 2em;
    padding: 0 1em;
}
.info_subtitulo {
    text-align: left;
    width: 80%;
    font-weight: 900;
    font-size: 2.8em;
    color: #ffffff;
}
.info_parrafo {
    text-align: left;
    font-weight: 300;
    color: #ffffff;

}
.info_button {
    border-radius: 1em;
    background-color: #ffffff;
    width: 12.5em;
    padding: .5em;
    font-size: 700;
    color: #00ADFD;
    cursor: pointer;
}
.columna2 {
    min-width: 50%;
}
.img__banner {
  width: 80%;
}